*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  font-family: "Open Sans", "sans-serif";
}

h1,
h2,
h3,
.cta__form,
.header__navigation {
  font-family: "Raleway", "sans-serif";
}

body {
  font-size: 1.6rem;
}

.header .navigation__link {
  font-size: 1.4rem;
}
@media screen and (min-width: 750px) {
  .header .navigation__link {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .header .navigation__link {
    font-size: 1.6rem;
  }
}

.hero__heading {
  font-size: 4rem;
}

.hero__paragraph {
  font-size: 2.4rem;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .hero__paragraph {
    font-size: 1.8rem;
  }
}

.hero-cta__submit-btn {
  font-size: 1.4rem;
}

.features__heading {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .features__heading {
    font-size: 4rem;
  }
}

.features__paragraph {
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .features__paragraph {
    font-size: 1.4rem;
  }
}

.testimonial__text {
  font-size: 1.4rem;
}

.testimonial-author__name {
  font-size: 1.1rem;
  letter-spacing: 0.05em;
}

.testimonial-author__role {
  font-size: 0.9rem;
}

.cta__heading {
  font-size: 3.2rem;
}
@media screen and (min-width: 768px) {
  .cta__heading {
    font-size: 2.6rem;
  }
}

.cta__paragraph {
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .cta__paragraph {
    font-size: 1.5rem;
  }
}

.cta-form__submit-btn {
  font-size: 1.4rem;
}

.header__container {
  max-width: 89%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 18rem;
}
@media screen and (min-width: 1024px) {
  .header__container {
    padding-bottom: 11.8rem;
    padding-top: 6.5rem;
  }
}

.header__logo-container {
  min-width: 80px;
  max-width: 180px;
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@media screen and (min-width: 480px) {
  .navigation__list {
    gap: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    gap: 5.7rem;
  }
}

.navigation__link {
  text-decoration: none;
  color: black;
}

.hero {
  min-height: 62vh;
}

.hero__container {
  max-width: 89%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero__container {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    text-align: initial;
  }
}

.hero__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__content-container {
    max-width: 88%;
    height: 100%;
  }
}

.hero-cta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}
.hero-cta .hero-cta__email-input,
.hero-cta .hero-cta__submit-btn {
  flex: 1;
}
@media screen and (min-width: 768px) {
  .hero-cta {
    flex-direction: row;
  }
  .hero-cta .hero-cta__email-input {
    flex: unset;
    width: 53%;
  }
  .hero-cta .hero-cta__submit-btn {
    flex: unset;
    width: 33%;
  }
}

.hero-cta__email-input {
  border: 1px solid black;
  border-radius: 0.25rem;
}

.features-and-testimonial {
  background-color: hsl(240, 75%, 98%);
  overflow: hidden;
}

.features-and-testimonial__container {
  max-width: 89%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 10rem;
}
@media screen and (min-width: 768px) {
  .features-and-testimonial__container {
    flex-direction: row-reverse;
  }
}

.curve-container {
  height: 20vh;
  width: 100vw;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(/images/bg-curve-desktop.svg);
}
@media screen and (min-width: 768px) {
  .curve-container {
    background-image: url(/images/bg-curve-mobile.svg);
  }
}

.features__heading {
  margin-bottom: 3rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__heading {
    text-align: initial;
  }
}

.features__paragraph {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .features__paragraph {
    max-width: 75%;
  }
}

.features__link {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  color: hsl(170, 45%, 43%);
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  margin-bottom: 4rem;
}
.features__link .icon-arrow::after {
  content: url(/images/icon-arrow.svg);
  height: 16px;
  display: block;
}
.features__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  display: block;
  transform: translateY(100%);
  width: 100%;
  border-bottom: 1px solid hsl(170, 45%, 43%);
}

@media screen and (min-width: 768px) {
  .features-and-testimonial__image-container {
    max-width: 38vw;
  }
}

.testimonial {
  width: 90%;
  margin: auto;
  padding: 3rem;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (min-width: 1024px) {
  .testimonial {
    width: 50%;
    margin: 0;
  }
}

.testimonial__text {
  margin-bottom: 2rem;
}

.testimonial__text::before {
  content: url(/images/icon-quotes.svg);
  display: block;
  margin-bottom: 1rem;
}

.testimonial-author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonial-author__avatar-container {
  max-width: 30px;
}
.testimonial-author__avatar-container img {
  border-radius: 50%;
}

.cta {
  background-color: hsl(238, 22%, 44%);
  color: white;
}

.cta__container {
  max-width: 89%;
  margin-inline: auto;
  padding-block: 10.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cta__container {
    flex-direction: row;
    gap: 32rem;
  }
}
@media screen and (min-width: 768px) {
  .cta__container {
    text-align: initial;
  }
}

.cta__heading {
  margin-bottom: 2rem;
}

.cta-form {
  width: 80%;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .cta-form {
    margin-inline: unset;
    width: 100%;
  }
}

.cta-form__email-input {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
}
@media screen and (min-width: 768px) {
  .cta-form__email-input {
    width: 90%;
  }
}

.cta-form__submit-btn {
  border: 0;
  background-color: hsl(224, 93%, 58%);
  color: white;
  padding: 10px 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cta-form__submit-btn {
    width: auto;
  }
}

.footer {
  background-color: hsl(243, 87%, 12%);
}

.company-contact,
.footer__navigation-link,
.fa-brands {
  color: hsl(0, 0%, 75%);
}

.footer__content-container {
  max-width: 89%;
  margin-inline: auto;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.footer__grid-container {
  display: grid;
  grid-auto-flow: row;
  gap: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__grid-container {
    gap: unset;
    grid-auto-flow: unset;
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer__socials-list,
.footer__navigation-list {
  list-style-type: none;
}

.footer__navigation-link,
.footer__social-link {
  text-decoration: none;
}

.footer__logo-container {
  margin-bottom: 2rem;
}

.company-contact__infos-container .company-contact__info:first-child {
  margin-bottom: 2rem;
}

.company-contact__info::before {
  padding-right: 12px;
}

.company-contact__info[data-icon=email]::before {
  content: url(/images/icon-email.svg);
}

.company-contact__info[data-icon=phone]::before {
  content: url(/images/icon-phone.svg);
}

.footer__navigation-list {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer__navigation-list {
    padding-left: 6rem;
  }
}

.footer__navigation-item {
  margin-bottom: 1rem;
}

.footer__socials-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__socials-list {
    justify-content: initial;
  }
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  padding: 10px;
}
.footer__social-link i {
  padding: 10px;
  display: block;
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 50%;
}

.hero-cta__submit-btn {
  background-color: hsl(224, 93%, 58%);
  color: white;
  border: 0;
  padding: 12px;
  border-radius: 0.25rem;
}

/*# sourceMappingURL=main.css.map */
