.cta {
    background-color: $bg-cta;
    color: white;
}
.cta__container {
    @include section-container;
    padding-block: 10.5rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    @media screen and (min-width: $breakpoint-m) {
        flex-direction: row;
        gap: 32rem;
    }
    text-align: center;
    @media screen and (min-width: $breakpoint-m) {
        text-align: initial;
    }
}
.cta__heading {
    margin-bottom: 2rem;
}
.cta__paragraph {
    color: $clr-testimonial-shadow;
}
.cta-form {
    width: 100%;
    &__email-input {
        display: block;
        width: 90%;
        padding: 1rem;
        margin-bottom: 2rem;
        border-radius: 0.25rem;
    }
}
