.cta {
    background-color: $bg-cta;
    color: white;
}
.cta__container {
    @include section-container;
    padding-block: 10.5rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    @media screen and (min-width: $breakpoint-m) {
        flex-direction: row;
        gap: 32rem;
    }
    text-align: center;
    @media screen and (min-width: $breakpoint-m) {
        text-align: initial;
    }
}
.cta__heading {
    margin-bottom: 2rem;
}

.cta-form {
    width: 80%;
    margin-inline: auto;
    @media screen and (min-width: $breakpoint-m) {
        margin-inline: unset;
        width: 100%;
    }
}
.cta-form__email-input {
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    @media screen and (min-width: $breakpoint-m) {
        width: 90%;
    }
    padding: 1rem;
    border-radius: 0.25rem;
}
.cta-form__submit-btn {
    border: 0;
    background-color: $bg-cta-btn;
    color: white;
    padding: 10px 20px;
    width: 100%;
    @media screen and (min-width: $breakpoint-m) {
        width: auto;
    }
}
