.features-and-testimonial {
    background-color: $bg-features-and-testimonial;
    overflow: hidden;
}
.features-and-testimonial__container {
    @include section-container;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $breakpoint-m) {
        flex-direction: row-reverse;
    }
    gap: 3rem;
    padding-bottom: 10rem;
}

.curve-container {
    height: 20vh;
    width: 100vw;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/images/bg-curve-desktop.svg);
    @media screen and (min-width: $breakpoint-m) {
        background-image: url(/images/bg-curve-mobile.svg);
    }
}

.features__heading {
    margin-bottom: 3rem;
    text-align: center;
    @media screen and (min-width: $breakpoint-m) {
        text-align: initial;
    }
}
.features__paragraph {
    @media screen and (min-width: $breakpoint-l) {
        max-width: 75%;
    }
    margin-bottom: 2rem;
}
.features__link {
    text-decoration: none;
    width: -moz-fit-content;
    width: fit-content;
    color: $clr-features-link;
    display: flex;
    align-items: center;
    gap: 5px;
    .icon-arrow::after {
        content: url(/images/icon-arrow.svg);
        height: 16px;
        display: block;
    }
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        display: block;
        transform: translateY(100%);
        width: 100%;
        border-bottom: 1px solid $clr-features-link;
    }
    margin-bottom: 4rem;
}
.features-and-testimonial__image-container {
    @media screen and (min-width: $breakpoint-m) {
        max-width: 38vw;
    }
}
.testimonial {
    width: 90%;
    margin: auto;
    @media screen and (min-width: $breakpoint-l) {
        width: 50%;
        margin: 0;
    }
    padding: 3rem;

    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.testimonial__text {
    margin-bottom: 2rem;
}

.testimonial__text::before {
    content: url(/images/icon-quotes.svg);
    display: block;
    margin-bottom: 1rem;
}
.testimonial-author {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.testimonial-author__avatar-container {
    max-width: 30px;
    img {
        border-radius: 50%;
    }
}
