.header__container {
    @include section-container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 18rem;
    @media screen and (min-width: $breakpoint-l) {
        padding-bottom: 11.8rem;
        padding-top: 6.5rem;
    }
}

.header__logo-container {
    min-width: 80px;
    max-width: 180px;
}

.navigation__list {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    @media screen and (min-width: $breakpoint-s) {
        gap: 2rem;
    }
    @media screen and (min-width: $breakpoint-m) {
        gap: 5.7rem;
    }
}

.navigation__link {
    text-decoration: none;
    color: black;
}
