.hero {
    height: 62vh;
}
.hero__container {
    @include section-container;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $breakpoint-m) {
        flex-direction: row-reverse;
    }
    text-align: center;
    @media screen and (min-width: $breakpoint-m) {
        text-align: initial;
    }
}

.hero__content-container {
    @media screen and (min-width: $breakpoint-m) {
        max-width: 88%;
        height: 100%;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-cta {
    display: flex;
    flex-direction: column;
    .hero-cta__email-input,
    .hero-cta__submit-btn {
        flex: 1;
    }
    @media screen and (min-width: $breakpoint-m) {
        flex-direction: row;

        .hero-cta__email-input {
            flex: unset;
            width: 53%;
        }
        .hero-cta__submit-btn {
            flex: unset;
            width: 33%;
        }
    }
    flex-wrap: wrap;
    gap: 2rem;
}

.hero-cta__email-input {
    border: 1px solid black;
    border-radius: 0.25rem;
}
