$bg-features-and-testimonial: hsl(240, 75%, 98%);
$bg-cta: hsl(238, 22%, 44%);
$bg-footer: hsl(243, 87%, 12%);
$bg-cta-btn: hsl(224, 93%, 58%);

$clr-features-link: hsl(170, 45%, 43%);
$clr-testimonial-shadow: hsl(0, 0%, 75%);
