html {
    font-family: "Open Sans", "sans-serif";
}

h1,
h2,
h3,
.cta__form,
.header__navigation {
    font-family: "Raleway", "sans-serif";
}
body {
    font-size: 1.6rem;
}
.hero__heading {
    font-size: 4rem;
}
.hero__paragraph {
    font-size: 1.8rem;
    line-height: 1.25;
}
.hero-cta__submit-btn {
    font-size: 1.4rem;
}
