html {
    font-family: "Open Sans", "sans-serif";
}

h1,
h2,
h3,
.cta__form,
.header__navigation {
    font-family: "Raleway", "sans-serif";
}
body {
    font-size: 1.6rem;
}
.header .navigation__link {
    font-size: 1.4rem;
    @media screen and (min-width: 750px) {
        font-size: 2.4rem;
    }
    @media screen and (min-width: $breakpoint-l) {
        font-size: 1.6rem;
    }
}
.hero__heading {
    font-size: 4rem;
}
.hero__paragraph {
    font-size: 1.8rem;
    @media screen and (min-width: $breakpoint-m) {
        font-size: 2.4rem;
    }
    line-height: 1.25;
}
.hero-cta__submit-btn {
    font-size: 1.4rem;
}
.features__heading {
    font-size: 2rem;
    @media screen and (min-width: $breakpoint-m) {
        font-size: 4rem;
    }
}
.features__paragraph {
    font-size: 1.8rem;
    @media screen and (min-width: $breakpoint-m) {
        font-size: 1.4rem;
    }
}
.testimonial__text {
    font-size: 1.4rem;
}
.testimonial-author__name {
    font-size: 1.1rem;
    letter-spacing: 0.05em;
}
.testimonial-author__role {
    font-size: 0.9rem;
}
.cta__heading {
    font-size: 3.2rem;
    @media screen and (min-width: $breakpoint-m) {
        font-size: 2.6rem;
    }
}
.cta__paragraph {
    font-size: 1.8rem;
    @media screen and (min-width: $breakpoint-m) {
        font-size: 1.5rem;
    }
}
.cta-form__submit-btn {
    font-size: 1.4rem;
}
